<div class="validations"
    *ngIf="control && control.invalid && (control.touched || control.dirty)">
  <div class="errors">
    <p class="required" *ngIf="control.errors.required">
      The field is required.
    </p>

    <div class="minLength" *ngIf="control.errors.minlength">
      The field required a min lenght should be {{ control.errors.minlength.requiredLength }}
    </div>

    <p class="required" *ngIf="control.errors.type">
      {{ control.errors.description }}
    </p>
  </div>
  <div class="warnings"></div>
</div>

<!-- {{ control.errors | json }} -->
