<div class="row">
  <div class="col-4"
       *ngFor="let product of products$ | async">
    <div class="card-product">
      <div class="image">
        <img src="{{ product.image }}" alt="">
      </div>

      <div class="body">
        <div class="name">
          {{ product.name }}
        </div>

        <div class="description">
          {{ product.description }}
        </div>

        <div class="price">
          {{ product.price }}
        </div>

        <div class="actions">
          <button class="btn primary" (click)="addToBasket(product)">Add Basket</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!!(isLoading$ | async)">
  <app-spinner></app-spinner>
</div>
