<app-add-new-task></app-add-new-task>

<div class="row">
  <div class="col-8" *ngFor="let task of tasks$ | async; index as i">
    <div class="input-check">
      <input type="checkbox" id="{{ 'task' + i }}" value="task.isComplete" (change)="checkTask(i)">
      <label for="{{ 'task' + i }}">{{ task.description }}</label>
    </div>
  </div>
</div>
