<header>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['index']" routerLinkActive="active">
          <p i18n="Inicio">
            Home
          </p>
        </a>
      </li>
      <li>
        <a [routerLink]="['memes/most-popular']" routerLinkActive="active" >Memes</a>
      </li>
      <li>
        <a [routerLink]="['desktop']" routerLinkActive="active" >Desktop</a>
      </li>
      <li>
        <a [routerLink]="['todo']" routerLinkActive="active" >ToDo</a>
      </li>
      <li>
        <a [routerLink]="['products']" routerLinkActive="active" >Products</a>
      </li>
      <li>
        <a [routerLink]="['form']" routerLinkActive="active" >Form</a>
      </li>
    </ul>
  </nav>
</header>
