@import '../../../styles/colors';

.required {
  p.title {
    position: relative;

    &::after {
      content: ' *';
    }
  }
}

.validations {
  .errors {
    p {
      font-size: 12px;
      color: $red;
    }
  }
}
