<form [formGroup]="group" (ngSubmit)="onSubmit()">
  <h4>Personal Information</h4>

  <div class="row">
    <div class="col-8 required">
      <p class="title">Name</p>
      <input type="text" name="" id="" placeholder="Name" formControlName="name">
      <app-validator [control]="group.controls.name"></app-validator>
    </div>
  </div>
  
  <div class="row">
    <div class="col-4 required">
      <p class="title">Lastname</p>
      <input type="text" name="" id="" placeholder="Lastname" formControlName="lastName">
      <app-validator [control]="group.controls.lastName"></app-validator>
    </div>

    <div class="col-4">
      <p class="title">Mother LastName</p>
      <input type="text" name="" id="" placeholder="Mother Lastname" formControlName="motherLastName">
      <app-validator [control]="group.controls.motherLastName"></app-validator>
    </div>
  </div>

  <h4>Address Information</h4>
  <form [formGroup]="group.controls.address" class="row">
    <div class="col-2">
        <p class="title">City</p>
        <input type="text" name="" id="" placeholder="City" formControlName="city">
        <app-validator [control]="group.controls.address.get('city')"></app-validator>
    </div>
  </form>

  <div class="row">
    <div class="col-8 actions">
      <!-- <input type="submit" class="btn primary" value="Save" [attr.disabled]="!group.valid" /> -->
      <button (click)="onSubmit()" class="btn primary" [attr.disabled]="!group.valid">Save</button>
    </div>
  </div>
</form>

{{ group.getRawValue() | json }}
