<app-spinner *ngIf="isLoading"></app-spinner>

<div class="row" *ngIf="!isLoading">
  <div class="col-4" *ngFor="let meme of memes">
    <div class="card memes">
      <div class="body" [ngStyle]="{'background-image': 'url(' + meme.imageUrl + ')'}">
      </div>

      <div class="description">
        {{ meme.displayName }}
      </div>

      <div class="actions">
        <button class="btn primary" (click)="goToDetail(meme)">GoTo Meme</button>
      </div>
    </div>
  </div>
</div>

<app-meme-selected></app-meme-selected>
