@import '../../../styles/mixins';

.card.memes {
  @include card-shadow();
  margin: 0 0 16px;

  .body {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba($color: #000000, $alpha: 20)

    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }
  }

  .description {
    padding: 12px;
  }

  .actions {
    padding: 12px;
    text-align: right;
  }
}
