@import './breakpoints';

$gutter: 16px;
$margin: 16px;
$columns: 8;

@mixin makeColumn($widthColumn: 1) {
  // background-color: blue;
  // height: 20px;
  $width: calc(100% / #{$columns} * #{$widthColumn} - #{$gutter} * 2);

  width: $width;
  flex-basis: $width;
  margin: 0 $margin;
  animation: all 0.2s;

  @media screen and (max-width: $breakpoint-md) {
    flex-basis: 100%;
    margin: $margin;
  }
}


.row {
  width: 100%;
  display: flex;
  margin: 16px 0;
  flex-wrap: wrap;

  .col {
    @include makeColumn(1);
  }

  .col-2 {
    @include makeColumn(2);
  }

  .col-3 {
    @include makeColumn(3);
  }

  .col-4 {
    @include makeColumn(4);
  }

  .col-5 {
    @include makeColumn(5);
  }

  .col-6 {
    @include makeColumn(6);
  }

  .col-7 {
    @include makeColumn(7);
  }

  .col-8 {
    @include makeColumn(8);
  }
}
