@import './colors';
@import './mixins';

$border: 1px solid lighten($color: $secondary, $amount: 20);

input {
  &[type="text"] {
    width: 100%;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 4px;
    border: $border;
    transition: all 0.2s ease;
    
    &:hover {
      @include button-shadow();
    }
  }
}

.input-check {
  margin: 8px 0 0;
  position: relative;

  input[type='checkbox'] {
    opacity: 0;
  }

  label {
    cursor: pointer;
    margin: 0 0 0 12px;

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: $border;
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: '';
      opacity: 0;
      width: 12px;
      height: 4px;
      border: solid $success;
      border-width: 0 0 4px 4px;
      transform: rotate(-45deg);
      position: absolute;
      top: 6px;
      left: 4px;
      transition: opacity 0.1s ease;
    }
  }

  input[type='checkbox']:checked + label {
    text-decoration: line-through;
  }

  input[type='checkbox']:checked + label::after {
    opacity: 1;
  }
}
