

<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>Qty</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of basket$ | async">
          <td>
              {{ product.qty }}
          </td>
          <td>
              {{ product.price }}
          </td>
          <td>
              {{ product.name }}
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="product-list">
      <li >
        
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-6">
    TOTAL
  </div>
  <div class="col-2">
    {{ total$ | async }}
  </div>
</div>
