<form class="row">
  <div class="col-7">
    <input type="text" name="" id=""
           [(ngModel)]="newTask"
           [ngModelOptions]="{standalone: true}">
  </div>
  <div class="col-1">
    <button class="btn primary" (click)="addTask()">Add</button>
  </div>
</form>
