<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<h4>H4</h4>
<h5>H5</h5>
<h6>H6</h6>

<button class="btn">Lorem Ipsum</button>
<button class="btn primary">Lorem Ipsum</button>
<button class="btn warning">Lorem Ipsum</button>
<button class="btn danger">Lorem Ipsum</button>

<br>
<br>
<br>
<br>

<div class="row">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col-2"></div>
  <div class="col-4"></div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col-5"></div>
</div>
