<div class="face" [ngClass]="position">
  <div class="icon-list" *ngFor="let icon of icons$ | async; index as i">
    <div class="icon">
      <i class="fas fa-folder"></i>
      <p>
        {{ icon.name }}
      </p>
    </div>
  
    <ul class="options">
      <li *ngFor="let number of [0, 1, 2, 3, 4, 5]"
          (click)="moveTo(number, i)">
        Move {{ number }}
      </li>
    </ul>
  </div>

  <div class="legend">
    Desktop {{ face }}
  </div>
</div>
