@import '../../../styles/colors';
$size: 250px;

.face {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  padding: 20px;
  border: 1px solid $light;

  &.front {
    background-color: rgba($color: $dark, $alpha: 0.9);
    transform: rotateY(0deg) translateZ($size);
  }

  &.back {
    background-color: rgba($color: $dark, $alpha: 0.9);
    transform: rotateY(180deg) translateZ($size);
  }

  &.right {
    background-color: rgba($color: $dark, $alpha: 0.9);
    transform: rotateY(90deg) translateZ($size);
  }

  &.left {
    background-color: rgba($color: $dark, $alpha: 0.9);
    transform: rotateY(-90deg) translateZ($size);
  }

  &.top {
    background-color: rgba($color: $dark, $alpha: 0.9);
    transform: rotateX(-90deg) translateZ($size);
  }

  &.bottom {
    background-color: rgba($color: $dark, $alpha: 0.9);
    transform: rotateX(90deg) translateZ($size);
  }


  .options {
    background-color: $secondary;
    visibility: hidden;
    height: 0;
    z-index: 100;

    li {
      margin: 8px 0;
      padding: 0 12px;
      cursor: pointer;
      color: $white;
      border-bottom: 1px solid $white;
      font-size: 300;
    }
  }

  .icon-list {
    position: relative;

    .options {
      position: absolute;
      top: 0;
      left: 30px;
    }

    &:hover {
      .options {
        visibility: visible;
        height: auto;
      }
    }

    .icon {
      width: 100%;

      i {
        color: $info;
      }

      p {
        margin: 0 0 0 4px;
        display: inline-block;
      }
    }
  }

  .legend {
    color: rgba($color: $light, $alpha: 0.8);
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
