<div class="desktop-canvas">
  <div class="cube" [ngClass]="face">
    <app-desktop-face [face]="0" [position]="'front'"></app-desktop-face>
    <app-desktop-face [face]="1" [position]="'back'"></app-desktop-face>
    <app-desktop-face [face]="2" [position]="'right'"></app-desktop-face>
    <app-desktop-face [face]="3" [position]="'left'"></app-desktop-face>
    <app-desktop-face [face]="4" [position]="'top'"></app-desktop-face>
    <app-desktop-face [face]="5" [position]="'bottom'"></app-desktop-face>
  </div>
</div>

<div class="row centered">
  <button class="btn"
          *ngFor="let desktop of desktops"
          (click)="changeFace(desktop.face)">
    {{ desktop.name }}
  </button>
</div>
