$size: 500px;
$translation: 250px;
$perspective: 4000px;

.desktop-canvas {
  width: $size;
  height: $size;
  perspective: $perspective;
  margin: 40px auto;

  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ($translation);
    transition: transform 1s;

    &.front {
      transform: translateZ(-$translation) rotateY(0);
    }

    &.back {
      transform: translateZ(-$translation) rotateY(180deg);
    }

    &.left {
      transform: translateZ(-$translation) rotateY(90deg);
    }

    &.right {
      transform: translateZ(-$translation) rotateY(-90deg);
    }

    &.top {
      transform: translateZ(-$translation) rotateX(90deg);
    }

    &.bottom {
      transform: translateZ(-$translation) rotateX(-90deg);
    }
  }
}

.row.centered {
  justify-content: center;
}
