@import '../../../styles/colors';

#meme-selected {
  width: 300px;
  height: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 0;
  z-index: 200;

  transform: translate(300px, 0);
  transition: all 0.4s ease;

  &.visible {
    transform: translateX(0);
  }
}

.canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1000;
  background-color: transparent;
  transition: all 0.2s ease;

  &.visible {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
