<div class="row"
     id="meme-selected"
     [ngClass]="{'visible': currentMeme}">
  {{ currentMeme | json }}
</div>

<div class="canvas"
     [ngClass]="{'visible': currentMeme}"
     (click)="removeCurrent()"
></div>
